################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleChat/.vs/SimpleChat/v16/Server/sqlite3
/SimpleChat/.vs/SimpleChat/DesignTimeBuild
/SimpleChat/.vs/SimpleChat/v16/TestStore/0/001.testlog
